.navbar {
    background-image: url('img/Untitled.png'); /* Replace 'your_image_path.jpg' with the path to your image */
    background-size: cover; /* Cover the entire navbar with the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    display: flex;
    border-radius: 10px; /* Adjust the value to change the amount of curve */
    justify-content:right;
    align-items:center;
    height: 115px;
    padding-right: 10px;
}
    
.navbar ul li{
    width: 100px; /* Fixed width */
    list-style: none;
    display: inline-block;
    margin: 10px; /* Adjust the margin as needed */
    background-color: skyblue; /* Default background color */
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition */
}
.navbar ul li a{
    color: black;
    text-decoration: solid;
}

.navbar ul li a:hover{
    color: #000;
    border-radius: 5px; /* Rounded corners */
    transform: scale(1.2); /* Converge when clicked */
    background-color: rgb(27, 106, 138);
}
.sigin-image {
    padding: 10px;
    border-radius: 50%; /* Makes the image circular */
}

.sigin-image:hover{
    transform: scale(1.2); /* Converge when clicked */

}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(146, 157, 168)
    
    }


    .main {
        display: block;
        background: linear-gradient(to top, #87ceeb, #ffffff); /* Gradient from sky blue to white */
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        margin-top: 20px;
    }
    .home {
        display: block;
    }
    .test1 {
        display: flex;
        align-items: center;
        margin-bottom: 20px; /* Adjust the margin-bottom as needed */
        border-radius: 10px;
    }
        .rm {
            display: flex;
            align-items: center;
        }
        .back-arrow {
            font-size: 25px; /* Adjust size as needed */
            cursor: pointer;
        }
    .test2 {
        display: none;
    }
    .Configure{
        display: none;
    }
    .chart-container {
        margin-top: 20px;
    }
    #report-container {
        display: none;
        background-color:#ffffff00;
        margin: 20px auto;
        height: 100%;
        padding: 8px;
        border-radius: 10px;
    }

    
    
    .waves-effect {    /* inspect button */
        pointer-events: none;
    }
    

    .building-item {
        background: linear-gradient(to bottom, #87ceeb, #ffffff); /* Gradient from sky blue to white */
        margin: 20px;
        padding: 10px;
    }
    .building-item:hover {
        background: rgb(27, 106, 138);/* Gradient from sky blue to white */
      
    }
    .room-item {
        background: linear-gradient(to bottom, #87ceeb, #ffffff); /* Gradient from sky blue to white */
        padding: 10px;
        margin-right: 0px;
    }
    .room-item:hover {
        background: #1b6a8a;/* Gradient from sky blue to white */
      
    }
  



  
    


.questions {
    background: linear-gradient(to bottom, #87ceeb, #ffffff); /* Gradient from sky blue to white */
    margin-bottom: 5px;
    border-radius: 10px;
    display: none;
    padding: 20px;
    transition: display 0.5s ease-in-out 0.2s; /* Transition the display property over 0.5 seconds with ease-in-out timing function and a delay of 0.2 seconds */

}
.question {
    display: flex;
    margin-bottom: 5px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between; /* Center the content vertically */
}
.form {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
}
    #comment {
        background-color: rgb(212, 203, 203);
        border-radius: 10px;
        align-self: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
.noLabel {
    width: 10%;

}
.yesLabel {
    width: 10%;

}
.par{
    width: 60%;
    text-align: left;
    padding-left: 5px;
}




.code {
    margin-top: 10px;
    border-radius: 10px;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}


.datepicker::placeholder {
    color: black;
    padding-left: 10px;
    border-radius: 10px;
}
.content {
    display: none;
    border-radius: 10px;
}
.tab {
    padding: 10px;
    background-color:rgb(243, 231, 216);
    margin-bottom: 20px;
    border-radius: 10px;
}
.tab-container {  /* tab element to make the whole space clickable */
    display: block;
    width: 100%;
    border-radius: 10px;
  }

.tab .active {
    background-color: white;
    font-weight: bold;
    padding-bottom: 5px;
}

.tab a {
    text-decoration: none;
    color: green
}



#fabButton {
    margin-top: 20px; /* Adjust the value as needed */
    border-radius: 10px;
}


h3 {
    text-align: center;
}

.room-section {
    margin-bottom: 20px;
    border-radius: 10px;
}

.question-answer {
    margin-left: 20px;
    border-radius: 10px;
}
/* Define a class for the dotted line */
.dotted-line {
    border-top: 1px dotted #000; /* Set the border style, width, and color */
    margin-top: 10px; /* Adjust the margin for spacing */
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  
  .modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  
  button {
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  